<nav id="course-nav">
  <% if(user.role == "teacher"){ %>
  <a id="contents-tab" class="course-tab" href="/<%=pageTitle%>/content">
    <img src="/images/contentIcon.jpg" alt="Contents" />
    <p>Contents</p>
  </a>
  <% } else { %>
  <a class="first-tab course-tab" href="/<%=pageTitle%>/materials">
    <img src="/images/videoIcon.jpg" alt="Materials" />
    <p>Materials</p>
  </a>
  <% } %>
  <!-- space -->
  <% if(user.role == "teacher"){ %>
  <a
    id="instructors-tab"
    class="active-tab course-tab"
    href="/<%=pageTitle%>/instructors"
  >
    <div class="active-border"></div>
    <img src="/images/instructorIcon.jpg" alt="Instructors" />
    <p>Instructors</p>
  </a>
  <% } else { %>
  <a class="active-tab second-tab course-tab" href="/<%=pageTitle%>/todo">
    <div class="active-border"></div>
    <img src="/images/todoIcon.jpg" alt="To Do" />
    <p>To Do</p>
  </a>
  <% } %>
  <!-- space -->
  <% if(user.role == "teacher"){ %>
  <a id="students-tab" class="course-tab" href="/<%=pageTitle%>/students">
    <img src="/images/studentIcon.jpg" alt="Students" />
    <p>Students</p>
  </a>
  <% } else { %>
  <a class="third-tab course-tab" href="/<%=pageTitle%>/completed">
    <img src="/images/doneIcon.jpg" alt="Completed" />
    <p>Completed</p>
  </a>
  <% } %>
</nav>
