<!-- content grid -->
<div class="main-margin">
  <header class="uncoursed flex">
    <div class="active-border"></div>
    <h1>My Courses</h1>
  </header>

  <section id="home">
    <% courses.forEach(function (course) {%>
    <a
      class="large flex"
      href="home/<%=course.course%><%=course.section%>/content"
    >
      <img src="../../images/courseIcon.jpg" alt="Course icon" />
      <div class="info">
        <h2><%=course.courseName%></h2>
        <p>Section <%=course.section%></p>
        <p><%=course.day%> <%=course.timeFrom%>-<%=course.timeTo%></p>
      </div>
    </a>
    <%})%>
    <a href="/log-out">
      <p>Log Out</p>
    </a>
  </section>
</div>
